<div class="card">
    <div class="image">
        <img [src]="'data:image/png;base64,' + product.imgBase64"  alt="" width="100%" height="100%">
    </div>
    <div class="info">
        <div class="title">{{ product.name }}</div>

        <div>
            <p class="description">{{ product.description }}</p>
        </div>

        <div class="price">{{ product.price | currency: 'USD' }}</div>

        <button *ngIf="!isViewMode" mat-fab color="primary" class="editBtn" (click)="onViewProductDetail()">
            <mat-icon class="editIcon">edit</mat-icon>
        </button>
    </div>

    <button *ngIf="!isViewMode" mat-raised-button class="w-100 addBtn" (click)="addToCart(product.id, product.name)">
        Add to cart
    </button>
</div>