<div class="card">
    <div class="image">
        <img [src]="imgPreview"  alt="" >
    </div>
    <div class="info">
        <div class="title">{{ product.name }}</div>

        <div>
            <p class="description">{{ product.description  | ellipsis : 20}}</p>
        </div>

        <div class="price">{{ product.price | currency: 'USD' }}</div>

        <button *ngIf="!isViewMode" mat-fab color="primary" class="editBtn" (click)="onViewProductDetail()">
            <mat-icon class="editIcon">edit</mat-icon>
        </button>
    </div>

    <button *ngIf="!isViewMode" mat-raised-button class="w-100 addBtn" (click)="addToCart(product.id, product.name)">
        Add to cart
    </button>

    <button *ngIf="isViewMode" mat-raised-button class="w-100 addBtn" color="warn" (click)="deleteFromCart(product.id)">
        Delete from cart
    </button>
</div>