<div class="container p-0">
    <h1 >Edit Product</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

        <div class="formItem col-6">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text" required>
                <mat-error *ngIf="form.get('name').hasError('required')">Name is required.</mat-error>
                <mat-error *ngIf="form.get('name').hasError('minlength')">Name must be at least 3 characters long.</mat-error>
                <mat-error *ngIf="form.get('description').hasError('maxlength')">Name cannot be longer than 20 characters.</mat-error>
            </mat-form-field>
        </div>
        
        <div class="formItem col-6">
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description" type="text" required>
                <mat-error *ngIf="form.get('description').hasError('required')">Description is required.</mat-error>
                <mat-error *ngIf="form.get('description').hasError('maxlength')">Description cannot be longer than 40 characters.</mat-error>
                <mat-error *ngIf="form.get('name').hasError('minlength')">Description must be at least 3 characters long.</mat-error>
            </mat-form-field>
        </div>
        
        <div class="formItem col-6">
            <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price" type="number" required>
                <mat-error *ngIf="form.get('price').hasError('required')">Price is required.</mat-error>
                <mat-error *ngIf="form.get('price').hasError('min')">Price must be greater than 0.</mat-error>
            </mat-form-field>
        </div>

        <div class="formItem col-6 d-flex align-items-center">
            <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Select File</button>
            <span class="ms-2" *ngIf="selectedFile">{{ selectedFile.name | ellipsis}}</span>

            <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" required accept=".jpg, .jpeg, .png" (click)="onFileInputClicked()" >

            <mat-error class="ms-2" *ngIf="isFileInputClicked && !imgPreview">File is required.</mat-error>
            
            <button *ngIf="imgPreview" mat-fab color="primary" class="editBtn" (click)="clearImage()">
                <mat-icon class="deleteIcon">delete</mat-icon>
            </button>
        </div>

        <div  class="formItem col-12 buttons p-0">
            <div class="submitBtn">
                <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">{{ currentData ? 'Edit Product' : 'Create Product' }}</button>
            </div>

            <div class="deleteBtn" *ngIf="currentData">
                <button mat-raised-button color="warn" type="button" (click)="deleteItem()">Delete Product</button>
            </div>
        </div>

        <div class="formItem col-12 d-flex align-items-center justify-content-end my-2 p-0">
            <div class="imgPreview" *ngIf="imgPreview">
                <img [src]="imgPreview"  alt="" >
            </div>
        </div>
    </form>
</div>